<div id="global-modal-overlay" class="modal-overlay">
    <div class="modal">
        <div class="modal-header">
            <h3 id="global-modal-title">Modal</h3>
            <button type="button" class="btn btn-outline" id="global-modal-close-btn">Cerrar</button>
        </div>

        <div class="modal-body" id="global-modal-body">
            Contenido del modal.
        </div>

        <div class="modal-footer" id="global-modal-footer">
            <button type="button" class="btn btn-outline" id="global-modal-cancel-btn">Cancelar</button>
            <button type="button" class="btn btn-primary" id="global-modal-confirm-btn">Aceptar</button>
        </div>
    </div>
</div>